* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "symtext";
    src: url('symtext.ttf') format('truetype');
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transition: 0.3s;
    color: #1C4EE2;
  }

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "label descricao";
    height: 90vh;
    background-color: #FFFFFF;
}

.labelSobre {
    background-color: #1C4EE2;
    color: #FFFFFF;
    text-align: center;
    align-content: center;
    font-family: symtext, sans-serif;
    font-size: 40px;
}

.dscSobre {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    align-content: center;
    font-size: 30px;
    margin-left: 90px;
    margin-right: 90px;
    /* font-family: panichesta, sans-serif; */
    /* border: solid 1px red; */
}

.navFooter {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: none
    "copywrite site";
    /* border: solid 2px black; */
    justify-content: center;
    align-content: center;
    height: 10vh;
    width: 100%;
    background-color: #FFFFFF;
    /* z-index: 6; */
}

#copywriteFooter {
    align-content: center;
    margin-left: 40px;
    color: #000000;
    /* border: solid 2px white; */
}

.siteFooter {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "home projetos sobre";
    color: white;
    font-family: symtext, sans-serif;
    font-size: 12px;
    /* justify-content: space-around; */
    /* border: solid 2px white; */
    text-align: center;
}