*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "symtext";
    src: url('symtext.ttf') format('truetype');
}

/* Início da edição da div 1 */
#div1 {
    height: 90vh;
}

#labelSobre {
    background-color: #1C4EE2;
    color: #FFFFFF;
    align-content: center;
    text-align: center;
    font-family: symtext, sans-serif;
    font-size: 40px;
}

#dscSobre {
    background-color: #FFFFFF;
    color: #000000;
    align-content: center;
    text-align: center;
    font-size: 28px;
    /* border: solid 1px black; */
}

#pSobre {
    margin-left: 125px;
    margin-right: 125px;
}
/* Fim da edição da div 1 */

/* Início da edição da div 2 */
#div2 {
    height: 10vh;
}

#background1 {
    background-color: #1C4EE2;
}

#background2 {
    background-color: #F5F5F5;
}

#footer {
    /* height: 10vh; */
    /* border: solid 1px red; */
    align-items: center;
    text-align: center;
    background-color: #F5F5F5;
    /* border: solid 1px #FFFFFF; */
}

#align{
    align-content: center;
}

#homeFooter {
    font-family: symtext, sans-serif;
    color: black;
    font-size: 14px;
    /* border: solid 1px #000000; */
}

#projetosFooter {
    font-family: symtext, sans-serif;
    color: black;
    font-size: 14px;
    /* border: solid 1px #000000; */
}

#contatoFooter {
    font-family: symtext, sans-serif;
    color: black;
    font-size: 14px;
    /* border: solid 1px #000000; */
}

