*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "symtext";
    src: url('Symtext.ttf') format('truetype');
}

.hdrHome {
    background-color: rgb(255, 0, 0);
    display: inline-block;
    opacity: 50%;
    width: 100%;
    height: 75px;
    font-family: symtext;
    position: absolute;
}

.txtHdrHome {
    color: black;
    opacity: 100%;
}

.bannerHome {
    display: inline-block;
    width: 100%;
    height: 925px;
}

.divProjetos {
    font-family: symtext;
    color: black;
}

.divSobre {
    background-color: rgb(28, 78, 226);
}
.labelDivSobre {
    font-family: symtext;
    color: white;
}

.textDivSobre {
    color: white;
}

.positionLogoHdr {
    display: block;
    position: fixed;
    top: 25px;
    left: 75px;
}