* {
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
    /* overflow-y: hidden; */

}

/* Início da edição do header */
#header {
    height: 10vh;
    background-color: #F5F5F5;
    position: fixed;
    width: 100%;
    /* border: solid 1px red; */
    z-index: 1;
    opacity: 0.6;
}

#logo {
    align-self: center;
}

#logoHeader {
    /* align-self: center; */
    /* border: solid 1px black; */
    height: 60px;
}

#navHeader {
    /* border: solid 1px black; */
    font-family: symtext, sans-serif;
    align-content: center;
}

#projetosHeader {
    font-family: symtext, sans-serif;
    color: black;
    font-size: 20px;
}

#sobreHeader {
    font-family: symtext, sans-serif;
    color: black;
    font-size: 20px;
}

#contatoHeader {
    font-family: symtext, sans-serif;
    color: black;
    font-size: 20px;
}

/* Fim da edição do header */

/* Início da edição do banner rotativo */
.imgbanner {
    width: 100%;
    height: 100vh;
    z-index: 0;
}

/* Fim da edição do banner rotativo */

/* Início da edição da seção projetos */
#background {
    background-color: #F5F5F5;
}

#headerProjetos {
    text-align: center;
    align-items: center;
    font-family: symtext, sans-serif;
    font-size: 40px;
    color: black;
    /* border: solid 1px black; */
    margin-top: 30px;
}

#projetos {
    height: 80vh;
    align-items: center;
}

#projetoAPAC {
    /* border: solid 1px black; */
    height: 50%;
    border-radius: 10px;
}

#imgAPAC {
    height: 100%;
    width: 100%;
    border-radius: 9px;
}

#projetoAPJT {
    /* border: solid 1px black; */
    height: 50%;
    border-radius: 10px;
}

#imgAPJT {
    height: 100%;
    width: 100%;
    border-radius: 9px;
}

#projetoCAD {
    /* border: solid 1px black; */
    height: 50%;
    border-radius: 10px;
}

#imgCAD {
    height: 100%;
    width: 100%;
    border-radius: 9px;
}

/* Fim da edição da seção projetos */

/* Início da edição do footer */
#footer {
    /* height: 10vh; */
    position: sticky;
    bottom: 0;
    /* border: solid 1px red; */
    align-items: center;
    text-align: center;
    background-color: #F5F5F5;
    border: solid 1px #FFFFFF;
}

#homeFooter {
    font-family: symtext, sans-serif;
    color: black;
    font-size: 14px;
}

#projetosFooter {
    font-family: symtext, sans-serif;
    color: black;
    font-size: 14px;
}

#sobreFooter {
    font-family: symtext, sans-serif;
    color: black;
    font-size: 14px;
}

#contatoFooter {
    font-family: symtext, sans-serif;
    color: black;
    font-size: 14px;
}

/* Fim da edição do footer */

/* Responsividade */

/* Telas extra pequenas */
@media only screen and (max-width: 575.98px) {
    .imgbanner {
        width: 100%;
        height: auto;
    }

    #projetoAPAC {
        width: 100%;
        height: auto;
    }

    #projetoAPJT {
        width: 100%;
        height: auto;
    }

    #projetoCAD {
        width: 100%;
        height: auto;
    }

    #header {
        position: relative;
        align-items: center;
        text-align: center;
    }

    #logoHeader {
        height: 30px;
    }

    .nav {
        justify-content: center;
    }

    #projetosHeader {
        font-family: symtext, sans-serif;
        color: black;
        font-size: 12px;
    }

    #sobreHeader {
        font-family: symtext, sans-serif;
        color: black;
        font-size: 12px;
    }

    #contatoHeader {
        font-family: symtext, sans-serif;
        color: black;
        font-size: 12px;
    }

    #footer {
        position: sticky;
        bottom: 0px;
    }

}

/* Telas pequenas */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .imgbanner {
        width: 100%;
        height: auto;
    }

    #projetoAPAC {
        width: 100%;
        height: auto;
    }

    #projetoAPJT {
        width: 100%;
        height: auto;
    }

    #projetoCAD {
        width: 100%;
        height: auto;
    }

    #header {
        position: relative;
        align-items: center;
        text-align: center;
    }

    #logoHeader {
        height: 30px;
    }

    .nav {
        justify-content: center;
    }

    #projetosHeader {
        font-family: symtext, sans-serif;
        color: black;
        font-size: 12px;
    }

    #sobreHeader {
        font-family: symtext, sans-serif;
        color: black;
        font-size: 12px;
    }

    #contatoHeader {
        font-family: symtext, sans-serif;
        color: black;
        font-size: 12px;
    }
}

/* Telas médias */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .imgbanner {
        width: 100%;
        height: auto;
    }

    #projetoAPAC {
        width: 100%;
        height: auto;
    }

    #projetoAPJT {
        width: 100%;
        height: auto;
    }

    #projetoCAD {
        width: 100%;
        height: auto;
    }

    #header {
        position: relative;
        align-items: center;
        text-align: center;
    }

    #logoHeader {
        height: 30px;
    }

    .nav {
        justify-content: center;
    }

    #projetosHeader {
        font-family: symtext, sans-serif;
        color: black;
        font-size: 12px;
    }

    #sobreHeader {
        font-family: symtext, sans-serif;
        color: black;
        font-size: 12px;
    }

    #contatoHeader {
        font-family: symtext, sans-serif;
        color: black;
        font-size: 12px;
    }

}

/* Telas grandes */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .imgbanner {
        width: 100%;
        height: 100vh;
    }

    #projetoAPAC {
        width: 100%;
        height: auto;
    }

    #projetoAPJT {
        width: 100%;
        height: auto;
    }

    #projetoCAD {
        width: 100%;
        height: auto;
    }

    #projetosHeader {
        font-family: symtext, sans-serif;
        color: black;
        font-size: 15px;
    }
    
    #sobreHeader {
        font-family: symtext, sans-serif;
        color: black;
        font-size: 15px;
    }
    
    #contatoHeader {
        font-family: symtext, sans-serif;
        color: black;
        font-size: 15px;
    }

}

/* Telas extra grandes */
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
    .imgbanner {
        width: 100%;
        height: 100vh;
    }

    #projetoAPAC {
        height: auto;
    }

    #projetoAPJT {
        height: auto;
    }

    #projetoCAD {
        height: auto;
    }

    #menuHeader {
        display: none;
    }
}

/* Telas gigantescas */
@media only screen and (min-width: 1400px) {
    .imgbanner {
        width: 100%;
        height: 100vh;
    }

    #menuHeader {
        display: none;
    }
}